@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Orbitron&display=swap');
*{margin: 0; padding: 0;}
.hidden{position: absolute; top: -900000px; opacity: 0;}
body{background: #323232;}
.gallery {
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 400px;
    height: 500px;
    transform: translate(-50%,-50%);
    img{width: 100%; height: 100%; object-fit: cover;}
    button{
        position: absolute;
        right: 5px; bottom: 5px; z-index: 10;
        width: 55px; height: 55px; background: #fff;
        border: none; border-radius: 100%; transition: all 0.3s;
        outline: 0;
        i{
            font-size: 25px;
        }

    }
    &.on button{
        transform: rotate(45deg);
    }
    div{
        opacity: 0; position: absolute; left: 50%; top: 50%; z-index: -1; width: 70%; transform: translate(-50%,-50%); color: #fff; font-size: 30px; transition: opacity 0.5s 0.4s; font-family: "open sans";
        strong{
            display: block; font-size: 32px; color: #693a2a;
        }
    }
    &.on div{
        opacity: 1; z-index: 11;
    }
    &::before,
    &::after{
        content: ''; position: absolute; right: 5px; bottom: 5px; width: 55px; height: 55px; border-radius: 100%; transform: scale(0);
    }
    &::before{
        background: rgba(0,0,0,0.5); transition: all 0.5s;
    }
    &::after{
        background: #e6714a; transition: all 0.5s 0.2s;
    }
    &.on::before,
    &.on::after{transform: scale(25);}
}